<template>
  <div class="header flex justify-center items-center">
    <div class="header__content w-10/12">
      <div v-if="$route.name === 'index'" class="">
        <span class="text-red-600 font-bold">NOW STREAMING</span>
        <h1 class="text-white text-7xl mt-1 mb-8">
          <span class="font-bold">Now </span>Streaming
        </h1>
        <a href="#movies">
          <button class="rounded bg-red-600 text-white px-5 py-2">
            View Movies
          </button>
        </a>
      </div>
      <div v-else class="">
        <h1 class="text-white text-5xl mt-1 mb-8">movie name</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped lang="scss">
.header {
  height: 500px;
  background-image: url("@/assets/images/headerBg.jpg");
  background-size: cover;
  background-position-y: -140px;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
  }
  &__content {
    z-index: 99;
    position: absolute;

    button {
      transition: ease-in-out 0.4s;

      &:hover {
        background-color: rgba(213, 10, 10, 0.854);
      }
    }
  }
}
</style>