<template>
  <div class="movie-box">
    <div class="movie-box__img">
      <div
        class="
          movie-box__rating
          bg-red-500
          absolute
          flex
          justify-center
          items-center
          rounded-br-lg
        "
      >
        {{ movie.imdb_rating }}
      </div>
      <img :src="movie.poster" alt="" />
    </div>
    <div class="movie-box__title mt-3">
      <h2 class="text-xl font-bold">{{ movie.title }}</h2>
      <h3 class="text-zinc-400 mt-1">Released: {{ movie.year }}</h3>
    </div>
    <div class="movie-box__button">
      <button>
        <nuxt-link
          class="border border-red-500 rounded-md py-2 px-4 mt-3 inline-block"
          :to="{
            path: `/movies/${movie.id}`,
            params: { id: movie.id, movie: movie },
          }"
          >Get More Info</nuxt-link
        >
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: ["movie"],
};
</script>

<style lang="scss" scoped>
.movie-box {
  &__rating {
    width: 40px;
    height: 40px;
  }
  &__button {
    button {
      a {
        transition: ease-in-out 0.4s;
        &:hover {
          background-color: #ef4444;
        }
      }
    }
  }
}
</style>