<template>
  <div class="movie-boxs text-white grid grid-cols-4 gap-x-9 gap-y-10">
    <div class="movie-card" v-for="(movie, index) in movies" :key="index">
      <Loading v-if="$fetchState.pending"/>
      <MovieBox v-else :movie="movie" />
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import axios from "axios";

export default {
  computed: {
    ...mapState(["counter", "totalCount", "perInPage", "movies"]),
  },
  async fetch() {
    await this.getMovies();
  },
  methods: {
    async getMovies() {
      const data = axios.get(
        `https://moviesapi.ir/api/v1/movies?page=${this.counter}`
      );
      const result = await data;
      console.log(result.data.data);
      this.$store.commit("addMovies", result.data.data);
      this.$store.commit("setTotalCount", result.data.metadata.total_count);
      this.$store.commit("setPerInPage", result.data.metadata.per_page);
      this.$store.commit("setLastInPage");
    },
  },
  fetchDelay: 3000,
  watch: {
    counter() {
      this.getMovies();
      console.log(this.counter);
    },
  },
};
</script>

<style>
</style>