<template>
  <div class="pagination flex flex-col items-center mt-8">
    <!-- Help text -->
    <span class="text-sm text-gray-400">
      Showing
      <span class="font-semibold text-white">{{ firstInPage }}</span> to
      <span class="font-semibold text-white">{{ lastInPage }}</span> of
      <span class="font-semibold text-white">{{ totalCount }}</span>
      Entries ( page
      <span class="font-semibold text-white">{{ counter }}</span> )
    </span>
    <div class="inline-flex mt-2 xs:mt-0">
      <!-- prev button -->
      <button
      @click="prevBtnClicked"
        :class="
          firstInPage === 1
            ? 'cursor-not-allowed bg-red-400'
            : 'hover:bg-red-600'
        "
        class="
          inline-flex
          items-center
          px-4
          py-2
          text-sm
          font-medium
          text-white
          bg-red-500
          rounded-l
        "
      >
        <svg
          aria-hidden="true"
          class="w-5 h-5 mr-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Prev
      </button>
      <!-- next button -->
      <button
        @click="nextBtnClicked"
        :class="
          lastInPage === totalCount
            ? 'cursor-not-allowed bg-red-400 hover:bg-red-400'
            : 'hover:bg-red-600'
        "
        class="
          inline-flex
          items-center
          px-4
          py-2
          text-sm
          font-medium
          text-white
          bg-red-500
          border-0 border-l border-gray-700
          rounded-r
          hover:bg-red-600
        "
      >
        Next
        <svg
          aria-hidden="true"
          class="w-5 h-5 ml-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  computed: {
    ...mapState([
      "counter",
      "firstInPage",
      "lastInPage",
      "totalCount",
      "perInPage",
    ]),
  },
  methods: {
    nextBtnClicked() {
      this.$store.commit("increaseCounter");
    },
    prevBtnClicked(){
      this.$store.commit("decreaseCounter");
    }
  },
};
</script>

<style>
</style>