<template>
  <div>
    <Loading v-if="$fetchState.pending" />
    <div v-else>
      <div class="single-movie flex justify-center items-center">
        <div class="cover"></div>
        <div class="movie w-10/12 flex gap-x-11">
          <div class="movie__img">
            <img :src="movie.poster" class="rounded-lg" alt="poster" />
          </div>
          <div class="movie__content flex flex-col gap-y-11 pt-6">
            <div class="movie__title">
              <h1 class="text-white text-4xl font-bold">{{ movie.title }}</h1>
            </div>
            <div class="movie__details flex flex-col gap-y-5">
              <ul class="flex flex-col gap-y-5 text-lg">
                <li
                  v-for="(item, index) in details"
                  :key="index"
                  :class="item.class"
                  class="flex gap-x-3"
                >
                  <span class="text-gray-500">{{ item.key }}</span>
                  <span class="text-gray-200">{{ item.value }}</span>
                </li>
              </ul>
              <div class="movie__geners flex flex-col gap-y-3">
                <span class="text-gray-500">Movie genres:</span>
                <ul class="flex gap-x-3">
                  <li
                    v-for="(genre, index) in movie.genres"
                    class="
                      rounded-full
                      cursor-context-menu
                      text-sm
                      border border-1 border-gray-400
                      text-gray-400
                      px-3
                      py-1
                      inline
                    "
                    :key="index"
                  >
                    {{ genre }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="movie__btn">
              <button
                class="
                  bg-red-500
                  text-white
                  rounded-full
                  font-bold
                  px-7
                  py-2
                  flex
                  items-center
                  gap-x-2
                "
              >
                <span>Play Now</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "singleMovie",

  async fetch() {
    await this.getSingleMovie();
  },

  // delay for fetching
  fetchDelay: 1000,

  data() {
    return {
      movie: null,
      details: [
        { key: "Country:", value: null, class: "movie__country" },
        { key: "Year:", value: null, class: "movie__year" },
        { key: "IMDB rating:", value: null, class: "movie__rating" },
      ],
    };
  },
  computed: {
    ...mapState(["movies"]),
  },
  methods: {
    async getSingleMovie() {
      this.movie = this.movies.find((movie_) => {
        return movie_.id == this.$route.params.id;
      });
      this.details[0].value = this.movie.country;
      this.details[1].value = this.movie.year;
      this.details[2].value = this.movie.imdb_rating;
      console.log(this.movie);
    },
  },
};
</script>

<style lang="scss" scoped>
.single-movie {
  background-image: url(@/assets/images/headerBg.jpg);
  min-height: 100vh;
  position: relative;
  .movie {
    position: absolute;
    &__img {
      img {
        height: 600px;
      }
    }
  }
}
.cover {
  background-color: rgba(0, 0, 0, 0.509);
  position: absolute;
  height: 100%;
  width: 100%;
}
</style>
