<template>
  <div class="home pb-11">
    <header>
      <Header />
    </header>
    <main class="flex justify-center mt-12">
      <div class="container w-10/12">
        <MovieBoxs />
      </div>
    </main>
    <footer class="flex justify-center">
      <Pagination />
    </footer>
  </div>
</template>


<script>
export default {
  data() {
    return {};
  },
};
</script>